<Weapon>
[Longsword]
[3.3] - Weight
[3] - Price
[25] - Durability (Note that durability is not implemented in the design yet.)
[The longsword is a sword with a blade around 3 feet long. It is typically wielded in two hands, but can be wielded in one.] - Description
Min Hands, Lift Strength, One Hand Strength, Cut, Crush, Stab, Ranged
[       1,             8,                18, Yes,   Yes,  Yes,     No]
Draw Time, To Cut Time, To Crush Time, To Stab Time, To Ranged Time
[     1.5,           0,           1.5,            0,              0]
Draw, Parry, Feint
[  2,     5,     5]
Aim, Aim Time
[ 0,        0]
Cut
Dice, Damage, Mod, Reach, Arc, Time, Cut, Crush, Stab
[  1,     10,   0,   2.7, 2.5,   .3,  20,     3,   0]
Crush
Dice, Damage, Mod, Reach, Arc, Time, Cut, Crush, Stab
[  2,      4,   0,     3, 3.6,   .5,  0,     10,   0]
Stab
Dice, Damage, Mod, Reach, Arc, Time, Cut, Crush, Stab
[  1,     6,   0,      3,   0,   .2,  4,     1,   16]
Poundage, Reload Time, Fire Time, Projectiles
[      0,           0,         0,           0]