<Armor>
[Steel Cuirass]
[15] - Weight
[10] - Price
[50] - Durability (Note that durability is not implemented in the design yet.)
[A cuirass is a metal piece of armor that is often light-weight and covers the chest, abdomen, and back.] - Description
[Chest]
(Cut, Crush, Stab)
[ 20,     5,   20]
[Abdomen]
(Cut, Crush, Stab)
[ 20,     5,   20]
[Back]
(Cut, Crush, Stab)
[ 20,     5,   20]
[Shoulders]
(Cut, Crush, Stab)
[  8,     2,    8]